* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.quiz-title{
    margin-bottom: 1rem;
}

.quiz h2 {
    margin-bottom: 15px;
}

.answers {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

.next-btn {
    background: blue;
    color: white;
    display: none;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.result {
    text-align: center;
}

.hide {
    display: none;
}
